.deps
*/.deps
*/*/.deps

.libs
*/.libs

config.h
config.log
config.status

libtool
stamp-h1

main.o
sconed
sconeserver.log

*/*.la
*/*/*.la
*/*.lo
*/*/*.lo

Makefile
*/Makefile
*/*/Makefile

*/*_ut.o
*/utest
*/utest.o
test/scones
test/scones.o
