# SconeServer (http://www.sconemad.com)
# Main configuration file

# Load modules

 insmod("server");

# Now the listeners have started we can drop root privileges
 if (root) {
   set_user("nobody");
 }

 insmod("mime");
 insmod("stat");
 insmod("http");
 insmod("ssl");
 insmod("simple","delay");
 insmod("exec","delay");

# Set the number of threads to use
 set_thread_pool(4);

 log("--- end: sconeserver.conf ---");
