# SconeServer (http://www.sconemad.com)
# HTTP module configuration file

# Load http-specific sub modules

 insmod("getfile");
 insmod("dirindex");
 insmod("errorpage");
 insmod("sconesite");

# Define hosts

 const WWWROOT = "/var/www/";

 hosts.add("test","www.test.test",WWWROOT+"test");
  hosts.test.add("default","html");
  hosts.test.add("secure","html_secure");
 hosts.redirect("test.test","test");

# Default redirect - everything to the test host

 hosts.redirect("*","test");

# Define auth realms

 realms.add("testrealm",WWWROOT+"testrealm");