Source: sconeserver
Section: misc
Priority: optional
Maintainer: Andrew Wedgbury <wedge@sconemad.com>
Standards-Version: 3.9.3
Build-Depends: autoconf, automake, libtool, libpcre3-dev, libssl-dev, libxml2-dev, libmagick++-dev, libmysqlclient-dev, libsqlite3-dev, libbluetooth-dev, libgps-dev (>= 3), debhelper (>= 2), cmake
Homepage: http://www.sconemad.com/sconeserver/

Package: sconeserver-base
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, debconf
Description: Modular network server framework
 SconeServer is a modular, object-orientated and extremely versatile network 
 server framework for UNIX-like platforms.

Package: sconeserver-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Development files for sconeserver
 SconeServer is a modular, object-orientated and extremely versatile network 
 server framework for UNIX-like platforms.

Package: sconeserver-ssl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, sconeserver-base
Description: Secure Sockets Layer module for sconeserver
 SconeServer is a modular, object-orientated and extremely versatile network 
 server framework for UNIX-like platforms.

Package: sconeserver-sconesite
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, sconeserver-base
Description: Sconesite CMS module for sconeserver
 SconeServer is a modular, object-orientated and extremely versatile network 
 server framework for UNIX-like platforms.

Package: sconeserver-mysql
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, sconeserver-base
Description: MySQL database module for sconeserver
 SconeServer is a modular, object-orientated and extremely versatile network 
 server framework for UNIX-like platforms.

Package: sconeserver-sqlite
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, sconeserver-base
Description: SQLite database module for sconeserver
 SconeServer is a modular, object-orientated and extremely versatile network 
 server framework for UNIX-like platforms.

Package: sconeserver-location
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, sconeserver-base
Description: Location module for sconeserver
 SconeServer is a modular, object-orientated and extremely versatile network 
 server framework for UNIX-like platforms.

Package: sconeserver-bluetooth
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, sconeserver-base
Description: Bluetooth module for sconeserver
 SconeServer is a modular, object-orientated and extremely versatile network 
 server framework for UNIX-like platforms.

Package: sconeserver-testbuilder
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, sconeserver-base
Description: TestBuilder system for sconeserver
 SconeServer is a modular, object-orientated and extremely versatile network 
 server framework for UNIX-like platforms.
