
body > header {
  position: relative;
  float: none;
  width: 100%;
  border-right: none;
  border-bottom: solid 0.2em #eee;
}

body > header > nav {
  display: none;
}

body > main {
  margin: 1em;
}

body > footer {
  margin: 0;
}