body {
  color: #000;
  background: #f9db00 url(back.png) repeat-y 0px 0px;
  font: 100% sans-serif;
  margin: 0px 0px 0px 192px;
  padding: 0px;
}

button {
  font: bold 80% sans-serif;
  background: #FFFF80;
  padding: -3px;
  margin: 0px;
}

input {
  font: bold 70%;
  background: #ffff80;
  padding: 1px;
}

select {
  font: bold xx-small;
  background: #FFFF80;
}

.titlebar {
  background: #f9db00 url(top_back.jpg) repeat-x right top;
  text-align: right;
}

.topline {
  margin: 0px 8px 0px 8px;
  padding:0px;
  text-align:right;
}  

address {
  color: #fff;
  font: 70% sans-serif;
  text-align: center;
  margin: 16px;
  padding: 6px;
  background: #ff8410;
  border: solid 1px #fff;
  -moz-border-radius-bottomleft: 16px;
  -moz-border-radius-bottomright: 16px;
}

h1 {
  color: #fff;
  font: bold 110% sans-serif;
  background: #ff8410;
  text-align: center;
  margin: 16px;
  padding: 2px;
  background: #ff8410;
  border: solid 1px #fff;
  -moz-border-radius-topleft: 16px;
  -moz-border-radius-topright: 16px;
}

/* BODY TEXT */

.box {
  color: #000;
  background: #fff;
  margin: 16px;
  padding: 0px 0px 0px 0px;
  border: solid #ff8410 2px;
}
.box p {
  margin: 4px;
  padding: 4px;
}
.box li {
  margin: 4px;
  padding: 2px;
}
.box ul {
  margin: 0px 0px 4px 28px;
  padding: 0px;
}

a {
  color: #ff8410;
}

.box h2 {
  color: #000;
  font: bold 110% sans-serif;
  margin: 8px 8px 4px -8px;
  padding: 0px 4px;
  border: solid #ff8410 2px;
  background: #ff0;
  -moz-border-radius: 16px;
}
.box h2 a {
  color: #ff8410;
  text-decoration: none;
}
.box h2 .date {
  float: right;
  font: bold italic 80% sans-serif;
  padding: 3px;
}
.box h3 {
  color: #ff8410;
  font: bold 100% sans-serif;
  margin: 2px 4px;
  padding: 0px 4px;
}
.box h4 {
  color: #f00;
  font: bold 80% sans-serif;
  margin: 2px 8px;
}
.box img {
  margin: 4px;
}
.box pre {
  color: #000;
  margin: 8px 8px 8px 8px;
  padding: 5px 25px 4px 8px;
  background: #ff8 url(corner2.png) no-repeat 100% 0%;
  border-bottom: solid 1px #ff8410;
  border-left: solid 1px #ff8410;
}
.box table {
  margin: 8px;
  background: #ff8 url(corner2.png) no-repeat 100% 0%;
  border-bottom: solid 1px #ff8410;
  border-left: solid 1px #ff8410;
}
.box th {
  font: 100% sans-serif;
  text-align: left;
  text-decoration: underline;
  color: #860;
  padding: 2px 4px;
}
.box td {
  color: #000;
  padding: 4px 8px;
  aabackground: #fff;
  vertical-align: top;
}

.scr-obj {
  padding: 5px 25px 4px 8px;
  margin: 8px;
  background: #ffc url(corner2.png) no-repeat 100% 0%;
  border-bottom: solid 1px #ff8410;
  border-left: solid 1px #ff8410;
}
.scr-obj p {
  font: 90% sans-serif;
  margin: 0px 0px 8px 0px;
  padding: 0px;
}
.scr-obj ul {
  font: 90% sans-serif;
  margin: 0px 0px 4px 16px;
  padding: 0px;
}
.scr-obj h4 {
  color: #f00;
  margin: 0px 0px 8px 0px;
  padding: 0px;
}
.scr-obj h4 span {
  display: block;
  text-indent: 16px;
}
.scr-obj h4 em {
  color: #ff8410;
  font-style: italic;
}

/* floating side panels */

#side {
  position: absolute;
  font: 70% sans-serif;
  left: 0px;
  top: 0px;
  width: 198px;
}

#side h2 {
  color: #000;
  font: bold 160% sans-serif;
  text-align: left;
  margin: 8px 0px 4px 0px;
  padding: 0px 4px 0px 4px;
  background: #ff0;
  border-top: solid 2px #fff;
  border-bottom: solid 2px #fff;
  border-right: solid 2px #fff;
  -moz-border-radius-topright: 16px;
  -moz-border-radius-bottomright: 16px;
}
#side h3 {
  color: #fff;
  font: bold 110% sans-serif;
  text-decoration: underline;
  margin: 2px;
  padding: 0px 10px 0px 2px;
}
#side p {
  color: #fff;
  margin: 2px 12px 2px 8px;
  padding: 0px;
}
#side a {
  color: #ffc;
  text-decoration: none;
}
#side a:hover {
  color: #fff;
  text-decoration: underline;
}
#side ul {
  margin: 0px 0px 0px 8px;
  padding: 0px 0px 0px 8px;
}
#side li {
  color: #fff;
  margin: 2px 12px 2px 8px;
  padding: 0px;
  list-style-image: url(bullet0.gif);
}
#side .index-this {
  list-style-image: url(bullet1.gif);
}
#side .index-hide {
  display: none;
}

#side .xmllink {
  background: #f60;
  border: solid 1px #ffc8a4;
  color: #fff;
  text-decoration: none;
  font: bold 9px sans-serif;
  padding: 1px 3px 1px 5px;
  letter-spacing: 1px;
}
#side a.xmllink:hover {
  color: #ff8410;
  background: #ff0;
}