# SconeServer (http://www.sconemad.com)
# testbuilder module configuration file

# Set the base dir, where the builds are stored
set_dir("/var/testbuilder");

# Set the maximum number of builds to run at once
set_max_running(1);

// Set the user to run the builds as
set_build_user("testbuilder");

# Load any stored profiles
load_profiles();

# Register source methods
add_source_method("tarball","Distribution tarball");
add_source_method("svn","Subversion checkout");
add_source_method("cvs","CVS checkout");

# Start the testbuilder
start();